<%= link_to 'Back', users_path %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4">

<p class="userName"><strong>User: </strong><%= @user.name %></p>

<p class="userEmail"><strong>Email: </strong><%= @user.email %></p></br>

<p id="inject"></p>

<%= link_to "Load Reviews", user_reviews_path(@user), :class => "userReviews" %></br>

         

          <a href="#" class="js-next" data-id="<%=@user.id%>">Next...</a>
        </div>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/users/" + nextId + ".json", function(data) {
 
      var user = data["user"];
      $(".userName").text("User: " + user["name"]);
      $(".userEmail").text("Email: " + user["email"]);
      // $(".userReviews").text(user["reviews"]["comment"]);

      // re-set the id to current on the link
      $(".js-next").attr("data-id", user["id"]);
      // re-set the reviews to blank
      $("#inject").html("");

    });
    event.preventDefault();
  });
});
</script>