<%= link_to 'Back', users_path %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4">

<p class="userName"><strong>User: </strong><%= @user.name %></p>

<p class="userEmail"><strong>Email: </strong><%= @user.email %></p></br>



         
         <!--  <div class="table-responsive">
            <table class="table">
              <tbody>
               
                
                <tr><% @user.reviews.each do |review| %>
                   <%= render partial: 'reviews/list', locals: {review: review} %>
                <% end %>                 
                </tr>
              </tbody>
            </table>

          </div> -->
          <a href="#" class="js-next" data-id="<%=@user.id%>">Next...</a>
        </div>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/users/" + nextId + ".json", function(data) {
 
      var user = data["user"];
      $(".userName").text(data["name"]);
      $(".userEmail").text(data["email"]);

      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]) + 1;
    });
  });
});
</script>