<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4">
          <%= image_tag @book.image.url(:medium) %>
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
          <em><%= "#{@reviews.length} reviews" %></em>
          
          <div class="table-responsive">
            <table class="table">
              <tbody>
               
                <tr>
                  <td><strong>Author:</strong></td>
                  <td><%= @book.author %></td>
                </tr>
                
                <tr>
                  <td><strong>Pages:</strong></td>
                  <td><%= @book.pages %></td>
                </tr>
                
                <tr>
                  <td><strong>Published:</strong></td>
                  <td><%= @book.published %></td>
                </tr>
              </tbody>
            </table>
            <%= link_to "Write a Review", new_book_review_path(@book), id: "book_review", remote: true %>
          </div>
        </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @book.title %></h1>
        <p><%= @book.description %></p>

        <h3 id="user-reviews">User Reviews</h3>
        <% if @book.reviews.blank? %>
          <h3>Be the first to review this book</h3>
          <%= link_to "Write Review", new_book_review_path(@book), class: "btn btn-danger" %>
        <% else %>
          <% @book.reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <% if review.user_id? %>
                <p><em><%= review.user.name %></em> posted a review <%= time_ago_in_words(review.created_at) %> ago:</p>
              <% else %>
                <p><em>Anonymous</em> posted a review <%= time_ago_in_words(review.created_at) %> ago:</p>
                <% end %>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>

  $(function(){
  //   $("a.load_reviews").on("click", function(e){
  //     $.get(this.href).success(function(json){
  //       e.preventDefault();

  //   // clear the OL html (in case there were stale comments)
  //         var $ol = $("div.reviews ol")
  //         $ol.html("") // emptied the OL
  //   //     //
  //   // iterate over each comment within json
  //         json.forEach(function(review){
  //   // with each comment data, append an LI to the OL with the comment content
  //           $ol.append("<li>" + review.comment + "</li>");
  //   // load that response into the HTML of the page.
       
  //    })
          
  // })

  // })
      
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  })

  })
</script>