<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4">
          <%= image_tag @book.image.url(:medium) %>
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
          <em><%= "#{@reviews.length} reviews" %></em>
          
          <div class="table-responsive">
            <table class="table">
              <tbody>
               
                <tr>
                  <td><strong>Author:</strong></td>
                  <td><%= @book.author %></td>
                </tr>
                
                <tr>
                  <td><strong>Pages:</strong></td>
                  <td><%= @book.pages %></td>
                </tr>
                
                <tr>
                  <td><strong>Published:</strong></td>
                  <td><%= @book.published %></td>
                </tr>
              </tbody>
            </table>
            <%= link_to "Write a Review", new_book_review_path(@book), id: "book_review", remote: true %>
          </div>
        </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @book.title %></h1>
        <p><%= @book.description %></p>

        <h3 id="user-reviews">User Reviews</h3>
        <% if @book.reviews.blank? %>
          <h3>Be the first to review this book</h3>
          <%= link_to "Write Review", new_book_review_path(@book), class: "btn btn-danger" %>
        <% else %>
        <div id="place-here">
          <%= render @reviews %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>

  $(function(){
    $("#book_review").hide().after('<%= j render("form") %>');
    $("form").submit(function(e){
      e.preventDefault();
      var values = $(this).serialize();
      // trying to post it to reviews/show?
      var postReview = $.post('/reviews', values);
      postReview.done(function(data){
        var review = data['review'];
        $("#review_user_name").text(review[user_id]);
        $("#review_comment").text(review[comment]);
      })
          
  })

  
      
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  })

  })
</script>